html,
body {
    height: 100%;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #d3d3d3;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #7575fa;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #d3d3d3;  /* creates padding around scroll thumb */
}

body {
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: #000000;
    overflow-x: hidden; 
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

p,
ol,
ul {
    margin-top: 0;
}

ol,
ul {
    padding: 0;
}

p,
ul
{
    line-height: 180%;
}

a {
    color: #0000FF;
}

a:hover {
    text-decoration: none;
}

.container {
    margin: 0px auto;
    width: auto;
}


/*********************************************************************************/


/* Image Style                                                                   */


/*********************************************************************************/

.image {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .1);
}

.image img {
    display: block;
    width: 100%;
}

.image-full {
    display: block;
    width: 100%;
    margin: 0 0 3em 0;
}

.image-left {
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered {
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}


/*********************************************************************************/


/* Heading Titles                                                                */


/*********************************************************************************/

.title {
    margin-bottom: 3em;
}

.title h2 {
    font-size: 2em;
    color: #261300;
}

.title .byline {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
    color: #6F6F6F;
}


/*********************************************************************************/


/* Header                                                                        */


/*********************************************************************************/

#header-wrapper {
    overflow: hidden;
    /*padding: 1em 0em;*/
}


/*********************************************************************************/


/* Logo                                                                          */


/*********************************************************************************/

#logo {
    text-align: center;
    padding-bottom: 4em;
    padding-top:
}

#logo img {
    width: 350px;
    height: 350px;
}

#logo h1 {
    font-size: 3.5em;
    font-weight: 700;
}

#logo h1 a {
    color: #000000;
}

#logo a {
    text-decoration: none;
}

#logo span {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 0.90em;
    color: #3C3C3C;
}

#logo span a {
    color: #3C3C3C;
}


/*********************************************************************************/


/* Menu                                                                          */


/*********************************************************************************/

.mynav{
    display: grid;
    grid-template-rows: 35% 30% 35%;
    /*padding-bottom: 1em;*/
}

.mynav ul {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.mynav li:not(:last-child) {
    margin-right: 20px;
}

.mynav a {
    font-size: 20px;
    font-family: Poppins, s;
    color: black;
    text-decoration: none;
    padding: 7px 15px;
    font-weight: 100;
    text-transform: lowercase;
}

.mynav ul li a.two:hover {
    border-bottom: 5px solid #ffde59;
}

.mynav ul li a.one:hover {
    border-bottom: 5px solid #5271ff;
}

.mynav ul li a.three:hover {
    border-bottom: 5px solid #ff0000;
}

.mynav ul li a.four:hover {
    border-bottom: 5px solid #7ed957;
}

.mynav ul li a.five:hover {
    border-bottom: 5px solid #ff0000;
}


/*********************************************************************************/


/* Wrapper                                                                       */


/*********************************************************************************/

#wrapper1 {
    background: #FFF;
    width: 100%;
}

#wrapper2 {
    background: #008cff;
}

.listbox{
    display: grid;
    grid-template-columns: 50% 50%;
    color: rgba(255, 255, 255, 0.650);
    font-size: 18px;
}

#wrapper3 {
    overflow: hidden;
    padding: 2em 5% 8em 5%;
    background: #FFF;
}

#wrapper4 {
    overflow: hidden;
    background: #008cff;
}

#wrapper5 {
    background: #FFF;
}

#wrapper6 {
    overflow: hidden;
    background: #FFF;
}


/*********************************************************************************/


/* Welcome                                                                       */


/*********************************************************************************/

#welcome {
    overflow: hidden;
    width: auto;
    padding: 5em 5% 8em 5%;
    text-align: justify;
    color: rgba(255, 255, 255, 0.4);
}

#welcome .content {
    padding: 0em 8em;
}

#welcome .title h2 {
    color: rgba(255, 255, 255, 1);
}
#welcome .title h3 {
    color: rgba(255, 255, 255, 1);
}

#welcome a,
#welcome strong {
    color: rgba(255, 255, 255, 0.6);
}

#welcome p {
    font-size: 1.2em;
}

#empresa{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    padding-bottom: 2em;
    color: rgba(255, 255, 255, 0.650);
    font-size: 15px;
}

#fotos-empresa{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    padding-bottom: 3em;
}

#fotos-empresa section{
    width: 70%;
    height: 60%;
}

/*********************************************************************************/


/* Footer                                                                        */


/*********************************************************************************/

#footer {
    padding: 8em 0em 5em 0em;
    text-align: center;
}

#footer .title h2 {
    color: rgba(255, 255, 255, 1);
}

#footer .title .byline {
    letter-spacing: normal;
    text-transform: capitalize;
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.2);
}


/*********************************************************************************/


/* Copyright                                                                     */


/*********************************************************************************/

#copyright {
    overflow: hidden;
    padding: 5em 0em;
    clear: both;
}

#copyright p {
    text-align: center;
    color: rgba(0, 0, 0, 0.473);
}

#copyright a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.473);
}


/*********************************************************************************/


/* Results                                                                     */


/*********************************************************************************/

#results {
    text-align: center;
}

#results .box {
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}

.box img {
    width: 10em;
    height: 9em;
}

.zoom {
    margin-top: 2em;
}

#results h3 {
    display: block;
    padding-bottom: 1em;
    color: rgba(0, 0, 0, 0.9);
    padding: 0em 100px 0em 100px;
    font-size: 1.2em;
}

#results a {
    background: #7ed957;
    text-decoration: none;
    border: 5px solid #7ed957;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#results img {
    width: 700px;
    padding: 0em 100px 0em 120px;
    display: inline-block;
}

#results .title {
    margin-bottom: 5em;
    text-align: justify;
}

#results .title h2 {
    color: rgb(0, 0, 0);
    padding: 3em 100px 0em 100px;
}

#results .title p {
    letter-spacing: normal;
    text-transform: none;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.6);
    padding: 2em 100px 2em 100px;
    text-align: justify;
}

#results .box p {
    letter-spacing: normal;
    text-transform: none;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 0px;
    padding-bottom: 0em;
    text-align: left;
}

#results .icon {
    display: inline-block;
    margin-bottom: 2em;
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.8);
}

.example {
    text-align: center;
}


/*********************************************************************************/


/* Portfolio                                                                     */


/*********************************************************************************/

#portfolio .box {
    height: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

#portfolio h3 {
    display: block;
    padding-bottom: 1em;
    text-transform: uppercase;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.9);
}

#portfolio .title {
    margin-bottom: 1em;
    text-align: justify;
}

#portfolio .title h2 {
    color: rgb(0, 0, 0);
    padding-top: 2em;
    padding-bottom: 1em;

}

#portfolio .title p {
    letter-spacing: normal;
    text-transform: none;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.6);
    padding: 2em 100px 1em 100px;
    text-align: justify;
}

#portfolio .icon {
    display: inline-block;
    margin-bottom: 2em;
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.8);
}

#portfolio .listbox{
    display: flex;
    
}

.columns{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.column1,
.column2,
.column3,
.column4{

    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;

}

/*********************************************************************************/


/* Explain                                                                       */


/*********************************************************************************/

#explain{
    overflow: hidden;
    width: auto;
    padding: 5em 5% 8em 5%;
    text-align: justify;
    color: rgba(255, 255, 255, 0.4);
}

#explain .title h2 {
    color: rgba(255, 255, 255, 1);
}

#explain .title p {
    letter-spacing: normal;
    text-transform: none;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.4);
    padding: 2em 100px 2em 100px;
}

#explain .title {
    margin-bottom: 3em;
    text-align: justify;
}


/*********************************************************************************/


/* About                                                                       */


/*********************************************************************************/

#about .title h2 {
    color: rgb(0, 0, 0);
}
#about .title h2 {
    color: rgb(0, 0, 0);
}
#about h5 {
    color: rgb(0, 0, 0);
    padding-bottom: 1em;
}


#about .title p {
    letter-spacing: normal;
    text-transform: none;
    font-size: 1.7em;
    color: rgba(255, 255, 255, 0.4);
    /*padding: 2em 100px 2em 100px;*/
}

#about .title {
    text-align: justify;
}

#contato{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 3em;
    padding-top: 3em;
}

#contato p{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#contato input{
    height: 2.5em;
    width: 80%;
    border-radius: 10px;
    border-color: #6F6F6F;
    border-style:solid;
}

#contato textarea{
    height: 7.5em;
    width: 80%;
    border-radius: 10px;
}

#contato form p{
    padding-bottom: 0.1em;
}



/*********************************************************************************/


/* Top button                                                                       */


/*********************************************************************************/

#subirTopo {
    text-decoration: none;
    bottom: 5px;
    right: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border: 0;
    font-family: 'Poppins', sans-serif;
    opacity: .8;
}

#subirTopo:hover {
    opacity: 1;
}
